<ion-header [translucent]="true">
  <app-menu-principal></app-menu-principal>
</ion-header>

<ion-content>
  <div class="contenedor">
    <img src="../../assets/film-live-event.png" style="height: 300px; width: 100%;opacity: 0.5;">
    <div class="texto-encima"><h1 style="font-size: 40px;">Sell With EventJet</h1><p style="font-size: 20px;">Online Ticketing Platform</p></div>
  </div>
  <div class="container" style="color: black;--background: white;">
    <h1>The best ticketing platform for your Latin event</h1>
    <br>
    EventJet is an online ticketing platform that allows event creators to easily connect with their local Latin community. By bringing music lovers and event organizers together in one place, not only does EventJet give fans the ability to discover local events in their area, but we also provide event organizers with the tools they need to successfully create, manage, and promote their event.
    <br>
    <br>
    Whether you are creating an event for an up-and-comer at an intimate coffee shop or an established superstar performing at a large Latin festival, EventJet is the ticketing service for you.
    <br>
    <br>
    <div style="text-align: center;">
      <a href="/register"><button class="btn btn-danger">Register and create your first event</button></a> or <a href="/login"><button class="btn btn-danger">Login and create your event</button></a>
    </div>
  </div>

  <div class="container" id="contenido2">
    <div class="row">
      <div class="col-2">
        <br>
    <br>
          <img src="https://www.logofactoryweb.com/img/strillonew2.png">
      </div>
      <div class="col-10">
        <br>
    <br>
    <h1>Sell on Eventjet for Free</h1>
    <br>
    <br>
    Create an event and sell with EventJet at absolutely no cost to you. A small service charge, one of the lowest in the industry, is automatically included and passed on to the ticket buyer directly. This is added to cover the costs of using EventJet.
    <br>
    <br>
      </div>
    </div>
  </div>
</ion-content>
